.wrapperOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

@media only screen and (max-width: 1024px) {
  .wrapperOne .carouselOne {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .carouselOne img {
    width: 50%;
    height: auto;
    object-fit: cover;
    padding: 5px;
  }
}

.wrapperOne .carouselOne {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.carouselOne img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  padding: 5px;
}

@media only screen and (max-width: 1024px) {
  .carouselOne img {
    width: 40%;
    height: auto;
  }
}



.shopping-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5rem;
}
.product-box{
    position:relative;
}
.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 1024px) {
  .shopping-content{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price{
    font-weight: 500;
}
.container {
  padding: 16px;
 
  
}
h1{
  padding-bottom: 3%;
}

.form-group {
  
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.btn-dark {
  background-color: white;
  color: black;
  border: 1px solid black;

  padding: 10px 20px;
  font-weight: bold;
  float: right;
}
#signup-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  float: right;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

select.form-select option:hover {
color: black;
}

